<!DOCTYPE html>
<html crossriderapp2258="true"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<!-- title -->
		<title>Grey | Free Html5 Template</title>

		<!-- meta -->
		<meta charset="UTF-8">

		<!-- links -->
		<link rel="stylesheet" type="text/css" media="screen" href="../css/yingpingstyle.css">

		<!-- scripts -->

		<!-- IE Hacks -->
		<!--[if IE]><script src="http//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    </head>
    <body class="home blog">
     
    	<!-- header -->
    	<header>
    		<div id="light">
	    		<div class="container_16">
	    			<h1 class="grid_8"><a href="#">专业影评</a></h1>
					<nav class="grid_8">
					        <ul id="menu-menu" class="menu"><li><a href="zhuye.html">影视</a></li>
							<li><a href="zhuce.html">注册</a></li>
							<li><a href="gerenzhongxin.html">用户</a></li>
							</ul>					
                    </nav>
	    		</div>
			</div>
    	</header>

		<!-- wrapper -->
		<div id="wrapper">
			<div class="container_16">
				<section id="posts" class="prefix_1 grid_9">

					<article>
						<h2><a href="#" >悲伤逆流成河影评</a></h2>
						<p class="info">December 27th, 2010  |  by <span><a href="#"  rel="author">admin</a></span>  |  <a href="#"  rel="category">updates</a></p>
						<div class="time"><p>Dec<br><span>27</span></p></div>
						
                        <p><img src="../images/caffee-break-final-510x150.jpg" height="150" width="510"></p>
						
        				<div class="entry">
        					<p>


							可能因为我曾是校园霸凌的受害者，在小学时候，高中也有一小段时间，所以我特别有感触，很多镜头虽然没有很恐怖，却也不太敢看。
							
							印象最深的是，易遥一个人站在河边，她说我不是杀人犯，可是全校的同学们没有人相信，他们一直起着哄说你跳啊你去死啊，最后易遥说出来的那些话，那段剧情，我全程哭。
							
							很多事情，真的不是过去就过去了，它在心底是会留下痕迹的。这世间的道理千万种千万句，终究抵不过当事人自己心底那句“过不过得去”。
							
							电影的最后，现身的一个个真实的人物，他们诉说着自己曾经遭受的那些校园霸凌，以及给自己带来的伤害，无论是身体上还是精神上的。
							
							被掌掴，被围攻，被谩骂，被诽谤，被诋毁，被孤立，被侮辱，被殴打，被堵在学校门口不让你回家，被迫吃那些馊了的食物，被人扔掉自己的书本，被各种各样所谓的“恶作剧”伤害，甚至被莫须有的罪名而被学校开除... ...
							
							这些或大或小的伤害，造成的后遗症就是不自信，哪怕现如今的他们看起来很好，可也只是看起来而已。
							
							那些校园霸凌受害者的孩子们，长大后变成什么样了？是否勇敢快乐？还是怯懦悲伤？是否变成了理想中的自己？是否告白了那个受伤害的自己... ...
							
							每个人的心底都有阴霾。
							
							在那些我们看不到的角落里，每个人也许都在默默承受着看不见的伤害。</p>
							<p> <a href="#" class="more-link">Read full story</a></p>
        				</div>
                        <div class="clear"></div>
						<p class="bottom_info"><a href="#" >1 Comment »</a></p>
					</article>


    		
						<article>
						<h2><a href="#" >影影评</a></h2>
						<p class="info">December 27th, 2010  |  by <span><a href="#"  rel="author">admin</a></span>  |  <a href="#"  rel="category">updates</a></p>
						<div class="time"><p>Dec<br><span>27</span></p></div>
						
                        <p><img src="../images/caffee-break-final-510x150.jpg" height="150" width="510"></p>
						
        				<div class="entry">
        					<p>
								张艺谋新片《影》如期上映，在影院里看到这部大投资的电影时，相信每个熟悉电影的人都会自问，如果自己有同样的机会，敢不敢像张艺谋这样，拍一部这样的电影？
								
								《影》讲述了一个什么样的故事呢？一个替身的故事。故事中央，是一个替身，和他身边的人，故事背后，是一个苍茫残酷的大时代。


												▲子虞和境州。
												
												东汉沛国，大都督子虞想要收复被杨苍将军占领的境州，谈判失败，比武也失败，遭到这样严重的失败，他迅速废了，身体枯槁，精神不振，已经不太适合在台前幕后走动了。要知道，政治家固然是政治家，却也是偶像，一个精神和肉体都荒废的人，是当不了偶像的。
												
												他只有一个办法，找个替身。幸亏，他很早就为自己准备了这样一个人，一个长相酷似自己，但身体健壮，器宇轩昂的年轻人，并且把他囚禁起来，洗脑，加上肉体打击，让他甘愿成为自己的替身。随后，对他进行严酷的训练，让他学会自己擅长的一切事物，从武术到朝堂上的应对。
												
												这个年轻人，甚至没有自己的名字，一个替身，一个影子，不可能有名字，也不该有名字，他们叫他“境州”，这等于无名，等于不被当做人看待，他就是那个心结，那块失去的土地的代言。</p>
							<p> <a href="#" class="more-link">Read full story</a></p>
        				</div>
                        <div class="clear"></div>
						<p class="bottom_info"><a href="#" >1 Comment »</a></p>
					</article>


    		
					<article>
						<h2><a href="#" >复仇者联盟3影评</a></h2>
						<p class="info">December 27th, 2010  |  by <span><a href="#"  rel="author">admin</a></span>  |  <a href="#"  rel="category">updates</a></p>
						<div class="time"><p>Dec<br><span>27</span></p></div>
						
                        <p><img src="../images/caffee-break-final-510x150.jpg" height="150" width="510"></p>
						
        				<div class="entry">
        					<p>
								十年漫威粉，漫威陪伴了我的青春。

					作为超级漫威迷，从2008年的《钢铁侠》第一部开始，十年的铺垫，十年的等待，为的就是《复仇者联盟3》这部电影，为的就是这一刻！
					
					看完《复仇者联盟3》，对于我一个漫威粉来说，这部电影有燃点！更有泪点！复仇者联盟3，一个超级漫威迷的观后感了解一下。
					
					《复仇者联盟3》的反派戏挺多的，超级英雄们领便当的速度，真可谓是《权力的游戏》啊，复联3全片悲壮惨烈，唯有美国队长和雷神锤哥登场那一幕，太帅了，振奋人心。这里，列车呼啸而过，一个黑影在列车后，他是谁？等列车通过后，那个男人出现了，他蓄了胡子，可是他的眼神依旧温情中透露着坚定以及保护同伴、抗击敌人的正义感。他，就是美国队长。
					
					当美国队长如boss一般从火车后渐渐出现时，作为在电影院看《复仇者联盟3》的我，亲眼目睹了这一刻，当时影院全场几乎真的都欢呼起来了！！
					
					在最后一刻，最后的希望，美国队长为了世界和未来，为了他心中坚信的正义，他居然爆发出了能挡住灭霸五颗宝石的力量，无论是灭霸还是观众，这一幕都令人深有感触吧！
        					大家还记得美国队长的名字吗，他给自己起的英文名就叫Steve Rogers，就是希望自己在这种时刻也能勇敢的出现。美国队长不只是完美的颜和肌肉，更是高贵的灵魂。不论复仇者联盟里有多少神，美国队长总是那个安全感和依靠。

					如果说，美国队长出来的时候，我只是鼓了掌，那么雷神拿着风暴战锤踏着彩虹桥，从天而降出场那一幕，我真的都吼出来了，热泪盈眶啊！
					
					雷神的暴风战斧抵挡住了六颗宝石释放出的力量并且还砍伤了灭霸！毋庸置疑，如果不算灭霸的话，雷神简直就是复联最强成员啊！</p>
							<p> <a href="#" class="more-link">Read full story</a></p>
        				</div>
                        <div class="clear"></div>
						<p class="bottom_info"><a href="#" >1 Comment »</a></p>
					</article>


    		
    		<div class="navigation">
                <div class="alignleft"><a href="#">Older Posts</a></div></div>

				</section>

				<aside class="prefix_1 grid_5">
					
					
					<!-- search -->
                    <form action="#" method="get">
						<input id="search" name="s" value="I'm searching for..." type="text">
					 </form>
            

					<!-- Categories-->
					<h4>Categories</h4>
					<ul class="categories">
							<li><a href="#" >电影</a></li>
							<li><a href="#" >剧集</a></li>
							<li><a href="#" >动漫</a></li>
							<li><a href="#" >综艺</a></li>
							<li><a href="#" >短视频</a></li>
							<li><a href="#" >微电影</a></li>
					</ul>
					<div class="clear"></div>
					<hr>


					<!-- RSS / Twitter -->
					<section id="rss">
						<p><a href="#"><img src="../images/rss_32.png" ></a></p>
						<p><a href="#">订阅</a><br><strong>2021</strong> 读者</p>
						<p class="rss_sub_links"><a href="#">rss feed</a> | <a href="#">email updates</a></p>
					</section>
					<section id="twitter">
						<p><a href="#"><img src="../images/twitter_32.png" ></a></p>
						<p><a href="#">FOLLOW ME</a><br><strong>4386</strong> followers</p>
					</section>
					<hr>


					<!-- Comments -->
					<h4>Recent Comments</h4>
					<ul class="recent_comments"><li>Perfekt style here too<br><a href="#">Timo</a></li><li>I like this Theme.
I think i will use it for my n...<br><a href="#">Timo</a></li><li>Good work. Think I'll use this for my blog.<br><a href="#">Tom Wayson</a></li><li>Beautiful themes.... i like it... :D<br><a href="#">Amri Karisma</a></li><li>Yes,
it works perfectly! :)<br><a href="#">Simone D'Amico</a></li></ul>					<div class="clear"></div>
					<hr>


					<!-- Blogroll -->
					<h4>Blogroll</h4>
					<ul class="blogroll">
						<li><a href="#">Documentation</a></li>
						<li><a href="#">Plugins</a></li>
						<li><a href="#">Suggest Ideas</a></li>
						<li><a href="#">Support Forum</a></li>
						<li><a href="#">Themes</a></li>
						<li><a href="#">WordPress Blog</a></li>
						<li><a href="#">WordPress Planet</a></li>
					</ul>
                    <hr>

                </aside>


            </div>
        </div>

		<!-- footer -->
		<!--<footer>
			<section id="footer_content">
				<div class="container_12">
					<div id="inspiration" class="grid_4">
						<h4>Find Inspiration</h4>

						<a href="#" ><img src="images/7325332956_178b16f0b2_s.jpg" ></a>
						<a href="#" ><img src="images/7139484443_59ba355a67_s.jpg" ></a>
						<a href="#" ><img src="images/6991926526_bc2b9af686_s.jpg" ></a>
						<a href="#" ><img src="images/6991884950_a8a9d7c6ea_s.jpg" ></a>
						<a href="#" ><img src="images/6990048348_0202f723df_s.jpg" ></a>
						<a href="#" ><img src="images/7136013721_cbcca8c067_s.jpg" ></a>
						<a href="#" ><img src="images/7135992035_b42e018bef_s.jpg" ></a>
						<a href="#" ><img src="images/6937250572_8ab4f0a557_s.jpg" ></a>
						<a href="#" ><img src="images/6933739362_fcf621565a_s.jpg" ></a>
					</div>
					<div id="twitter_feed" class="grid_4">
						<h4>Twitter Feed</h4>

						<ul class="twitter_list"><li><a href="#">@ognjanovic</a> dogovoreno :)</li><li><a href="#">@ognjanovic</a> a zasto ne bih?</li><li>enjoying delicious cup of <a href="#">@Nespresso</a> Indriya cc <a href="#">@ognjanovic</a> <a href="#">@gonzodesign</a></li><li>Pijana noć <a href="#">#Kbs6luXM</a> via <a href="#">@ognjanovic</a></li><li>Sjajan tekst na juznim vestima - Vrelina <a href="#">#MEWI7znr</a> via <a href="#">@juznevesti</a></li></ul>
						<p class="followme"><a href="#">follow me on twitter</a></p>
					</div>
					<div id="socials" class="grid_4">
						<h4>Find me elsewhere</h4>

						<ul class="socials"><li><a href="#"><img src="images/feedburner_32.png" ></a></li><li><a href="#"><img src="images/twitter_32.png" ></a></li><li><a href="#"><img src="images/flickr_32.png" ></a></li><li><a href="#"><img src="images/deviantart_32.png" ></a></li><li><a href="#"><img src="images/facebook_32.png" ></a></li><li><a href="#"><img src="images/skype_32.png" ></a></li></ul>						<div class="clear"></div>

						<h5>Stay Updated</h5>

                						<p class="stayupdated"><a href="#"><img src="images/rss_32.png" ></a> <a href="#">rss feed updates</a></p>
                        <p class="stayupdated"><a href="#"><img src="images/email_32.png" ></a> <a href="#">email updates</a></p>

					</div>
					<div class="clear"></div>
				</div>
			</section>
			<section id="powered">
				<div class="container_12">
					<p class="grid_10">© 2012  free html5 templates | design by <a href="#">Simone D'Amico</a></p>
					<p class="grid_2"><a class="top" href="#">▲ Back to top</a></p>
				</div>
			</section>
		</footer>-->
</body></html>